*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --max-width: 800px;
  --divider: 3rem;
  --dark: #505050;
  --light: #ffe1cf;
  /* --light: #96897B; */
  --primary: #bf7e68;
  --primary-dk: #6b4f5a;
  --accent-dk: #efa639;
  --accent-lt: #16ba91;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  color: var(--accent-dk);
  text-decoration-skip-ink: none;
  text-decoration-color: var(--accent-lt);
  font-size: min(calc(1.1364rem + 6.8182vw), 5rem);
  line-height: 90%;
}

body {
  color: var(--primary-dk);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
  background-color: var(--light);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: scale(.6);
  transition: all 750ms ease;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  width: 100%;
  min-height: 100svh;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.hero__logo {
  width: 100%;
  background-image: url(Assets/logo-trans.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-area: 2 / 1;
  justify-self: center;
}

.hero__store-link {
  grid-area: 1 / 1;
  justify-self: right;
  align-self: center;
  text-align: right;
  padding-right: 1rem;
}

.basket img{
  display: inline-block;
  width: 40px;
  justify-self: self-end;
  align-self: self-end;
  animation: bounce 1s cubic-bezier(0,.66,0,.99) infinite forwards;
}

.hero__about-link {
  grid-area: 3 / 1;
  justify-self: left;
  align-self: center;
  padding-left: 1rem;
}

.wave img {
  display: inline-block;
  height: 40px;
  animation: wave 1s cubic-bezier(0,.66,0,.99) infinite forwards;
}

.about__wrapper {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  min-height: 100svh;
  padding: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--divider);
}

.about__title {
  color: var(--primary-dk);
  position: relative;
  font-size: min(calc(1.1364rem + 6.8182vw), 5rem);
  font-weight: normal;
  margin-bottom: 1rem;
}

.about__content {
  line-height: 120%;
  letter-spacing: 1px;
  font-size: min(calc(0.2545rem + 2.7273vw), 2rem);
}

.about__content img:first-of-type {
  position: relative;
  float: right;
  width: 30%;
}

.about__content img:last-of-type {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  clip-path: polygon(50% 100%, 100% 50%, 100% 0, 0 0, 0 50%);
  filter: contrast(1.2) brightness(1.1) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.questions-link img {
  display: inline-block;
  height: 40px;
  animation: zoom 1.5s ease-in-out infinite forwards;
}

.faq__wrapper {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.questions-card {
  display: inline-block;
  position: relative;
  background-color: var(--primary);
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem;
  flex: 1 1 300px;
}

.questions-card__title {
  color: var(--primary-dk);
  position: relative;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.bold-q {
  color: var(--light);
  font-weight: 900;
}

.questions-card p {
  color: var(--light);
  margin-top: -.5rem;
  position: relative;
}

.keyword {
  color: var(--primary);
  font-weight: 900;
}

@keyframes bounce {
  0% {
    transform: 
      translateY(0)
  }
  50% {
    transform: 
      translateY(-4px);
  }
  100% {
    transform:
      translateY(0)
  }
}

@keyframes wave {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes color-fade {
  from {
    color: black;
  }
  to {
    color: #BF6868;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 0;
  }
}

@media (hover: hover) {
  
}

@media (prefers-color-scheme: dark) {
  
}